* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --dark: #3d0844;
    --light: #ceb0da;
    --project-purple: #64088f;
}

main {
    margin: 0 auto;
    max-width: 80%;
}

body {
    background-color: var(--light);
}

a {
    color: #777575;
    text-decoration: none;
}

a:link {
    color:#ffffff;
    text-decoration: none;
}

a:visited {
    color: var(--project-purple);
    text-decoration: none;
}

a:hover {
    color: #85085f;
    background-color: aqua;
}

p {
    font-size: 16px;
}

/* header bar */
.header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    text-shadow: 1px 1px #353333;
}
/* header navigation links */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* header navigation list */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* background image with subtitle */
.subtitle-image {
    background-image: url(../images/purple_back2.jpg);
    background-position: center;
    width: 100%;
    height: 250px;
    border: 1px solid var(--dark);
}

.subtitle {
    font-size: 18px;
    float: right;
    margin: -25px 15px 0px 0px;
    color: var(--project-purple);
    background-color: #ffffff;
    text-shadow: 1px 1px #353333;
    font-weight: 200;
}

#about, #work, #contact {
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
}

#about-content {
    line-height: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding: 15px;
    padding-right: 250px;
    width: 75%;
    float: right;
    margin-bottom: 25px;
    background-image: url(../images/self.jpg);
    background-repeat: no-repeat;
    background-position: right;
    }


.side-header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--dark);
    padding: 15px;
    border-right: 5px solid var(--project-purple);
    margin-top: 10px;
    height: 250px;
    flex-wrap: wrap;
    flex-basis: 15%;
}

#work .side-header {
    border-right: 5px solid var(--project-purple);
    height: 450px;
}

#contact .side-header {
    border-right: 5px solid var(--project-purple);
    height: 100px;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 80%;
    justify-content: center;
    align-content: center;
    align-content: wrap;
    padding: 3px;
    margin-top: 15px;
}

#proj1 {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--dark); 
    flex-basis: 100%;
    min-height: 150px;
    background-size: cover;
    padding: 5px;
    margin: 5px;
}

#proj2 {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--dark); 
    flex-basis: 40%;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    background-size: cover;
}

#proj3 {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--dark); ;
    flex-basis: 40%;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    background-image: url("../images/code2.JPG");
    background-size: cover;
}

#proj4 {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--dark); ;
    flex-basis: 30%;
    background-size: cover;
    padding: 5px;
    margin: 5px 5px 25px 5px;
    min-height: 100px;
}

#proj5 {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--dark); ;
    flex-basis: 30%;
    background-size: cover;
    padding: 5px;
    margin: 5px 5px 25px 5px;
    min-height: 100px;
}

.projtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact nav ul {
    list-style-type: none;
}

.contact nav ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-content: wrap;
    background-size: cover;
}

a .contact nav ul li {
    color: var(--dark);
    text-decoration: none;
}

a:link .contact nav ul li {
    color: var(--dark);
    text-decoration: none;
}

a:visited .contact nav ul li {
    color: var(--project-purple);
    text-decoration: none;
}

#phone {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 50%;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px;
    margin-top: 40px;
}

#email {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 50%;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 5px 0px 45px;
}

a[href^="mailto"] {
    color: var(--dark);
}

#github {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 50%;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 5px 0px 45px;
}

#linked {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 50%;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 5px 0px 45px;
}

#footer {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 10px;
}