* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2f94f3;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* header bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #022536;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
}

/* header navigation links */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.sub-image {
    background-image: url("../images/astronomy2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border: 1px solid #022536;
}

#subtitle {
    font-size: 18px;
    float: right;
    margin-top: 275px;
    margin-right: 15px;
    color: #ffffff;
}

.row-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    margin-right: -1.5rem;
    justify-content: left;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: #022536;
    outline: 2px solid;
    outline-offset: -2px;
  }

.about-me,
.work-title,
.contact {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-top: 1.5rem;
    margin-left: 5.5rem;
    padding: 1rem 1rem;
    color: #022536;
}

.work-title {
    margin-left: 7.5rem;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #022536;
    
}

#about-me {
    display: inline-flex;
    margin-left: 300 px;
}

.sidebar {
    display: inline-block;
    position: relative;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-right: 4px solid #022536;
    height: 100px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 80px;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.grid-item1 {
    grid-column: 1/ span 2;
    border: 2px solid #022536;
    padding-bottom: 4px;
}

.grid-item {
    border: 2px solid #022536;
    padding: 2px;
}

.contact nav ul {
    list-style-type: none;
}

.contact nav ul li {
    display: inline-block;
    margin-left: 25px;
}